@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    /*cores primarias*/
    --cyan: hsl(179, 62%, 43%);
    --cyan-light: hsl(179, 68%, 55%);
    --bright-yellow: hsl(71, 73%, 54%);
    --white: #fafafa;

    /*Neutras*/
    --light-gray: hsl(204, 43%, 93%); 
    --grayish-blue: hsl(218, 22%, 67%);

    /*fonte*/
    --fonte-principal: 'Karla', sans-serif;

    /*tamanhos de tela*/
    --mobile: 375px;
    --desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: var(--fonte-principal);
    width: 100%;
    max-width: 1440px;
    min-width: 768px;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--light-gray);
}

/*GRID CONTAINER*/

.grid-container {
    width: 832px;
    max-width:965px;
    min-width: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "community community" 
        "subscription whyus"
    ;
    justify-content:center;
}

/*COMMUNITY*/
.community {
    grid-area: community;
    
    background-color: var(--white);
    border-radius: 10px 10px 0 0 ;
    padding: 50px ;

}

.community__title{
    color: var(--cyan);
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 35px;
}

.community__guarantee{
    color: var(--bright-yellow);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 22px;

}

.community__description{
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.8;
    
}

/*  SUBSCRIPTION*/

.subscription {
    grid-area: subscription;
    background-color: var(--cyan);
    border-radius: 0 0 0 10px;
    padding: 50px ;
    color: var(--white);
}

.subscription__title{
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 25px;
}

.subscription__price{
    font-size: 2.2em;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.subscription__price span{
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5); 
}

.subscription__text {
    font-size: 1.1em;
    font-weight: 700;
    color: var(--light-gray);
    margin-bottom: 30px;
}

.subscription__button{
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 20px 0 ;
    background-color: var(--bright-yellow);

    border-radius: 5px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}


/*WHY US*/

.whyus {
    grid-area: whyus;
    background-color: var(--cyan-light);
    border-radius: 0 0 10px 0;
    padding: 50px ;
    color: var(--white);
}

.whyus__title{
    font-size: 1.4em;
    font-weight: 700;

    margin-bottom: 25px;
}

.whyus__description {
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
}